---
title: Archive
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>Archive</h2>
</div>

<style type="text/css">
  a.tt:hover {color: #FF0000;}
</style>

<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="padding: 40px">
      {% for post in site.posts %}
      {% assign currentDate = post.date | date: "%Y" %}
      {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h3 style="margin-bottom: 8px">{{ currentDate }}</h3>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><span>{{ post.date | date: "%Y-%m-%d" }}</span>&nbsp;&nbsp;<a href="{{ post.url }}" class="tt">{{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}
    </ul>
</main>
    
{% include footer.html %}





<!-- 
---
title: Archives
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ARCHIVES</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
  <ul class="tags-list" style="padding:40px">
    {% for post in site.posts %}
      
        {% unless post.next %}
          <h3 style="margin-bottom: 8px">{{ post.date | date: "%Y" }}</h3>
        {% else %}
        {% capture year %}{{ post.date | date: "%b, %Y" }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: "%b, %Y" }}{% endcapture %}
        
        {% if year != nyear %}
           <h3 style="margin-bottom: 8px">{{ post.date | date: "%b-%Y" }}</h3>
        {% endif %}
        {% endunless %}
       
       <li> 
           <a href="{{ post.url }}" style="color: black">{{ post.date | date:"%b-%-d-%Y" }}  {{ post.title }}</a>
       </li>
       
    {% endfor %}
  </ul>
</main>
{% include footer.html %} -->
