<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-43+cd+1b-i0+15w"
     data-ad-client="ca-pub-6076347298102292"
     data-ad-slot="7748209846"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-4z+ck+2p-gb+q7"
     data-ad-client="ca-pub-6076347298102292"
     data-ad-slot="7748209846"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>